#container .ui.modal {
  top: 10%;
  left: 10%;
  margin-left: 0;
  margin-top: 0 !important;
  width: 80%;
  max-height: 80%;
  overflow: hidden;
}
#container .ui.modal > .header {
  padding: 0.5rem 2rem 0.5rem 1rem !important;
  line-height: 1.2em;
  padding-right: 2em;
  height: 40px;
}

#containerContent .container {
  width: 800px;
  margin: 0 auto;
}
#containerContent .ui.visible.left.sidebar ~ .fixed,
#containerContent .ui.visible.left.sidebar ~ .pusher {
  -webkit-transform: translate3d(260px, 0, 0);
  -ms-transform: translate3d(260px, 0, 0);
  -o-transform: translate3d(260px, 0, 0);
  transform: translate3d(260px, 0, 0);
}
#containerContent .fixed {
  position: fixed;
}
#containerContent .fixed.launch.button {
  top: 60px;
  width: 44px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: 0.3s width ease, 0.5s transform ease;
  -o-transition: 0.3s width ease, 0.5s transform ease;
  transition: 0.3s width ease, 0.5s transform ease;
}
#containerContent .fixed.launch.button .text {
  display: none;
}
#containerContent .fixed.launch.button:hover {
  width: 110px;
}
#containerContent .fixed.launch.button:hover .text {
  display: inline-block;
}
#containerContent .pusher {
  display: flex;
  overflow: visible;
  min-height: 100vh;
  flex-direction: column;
  background-color: #EFEFEF;
}
#containerContent .pusher .full.height {
  flex: 1;
}
#containerContent #header {
  min-height: 150px;
  padding-top: 40px;
  margin-bottom: 0px;
  background-color: #FFF;
}
#containerContent #header .container {
  padding: 15px;
}
#containerContent #main .container {
  background-color: #FFF;
  padding: 15px;
  min-height: 300px;
  border: 1px solid #DFDFDF;
}
