<div id="containerContent" class="pushable dimmable">
  <!-- ui vertical inverted sidebar menu left uncover visible -->
  <div id="menu" ng-class="{'uncover': $root.dimmable, 'visible': $root.dimmable}" class="ui vertical inverted sidebar menu left">
    <div class="item">
      <div class="ui small  inverted header">Globals</div>
      <div class="menu">
        
          <a class="item" href="/globals/reset.html">
            Reset
            
          </a>
        
          <a class="item" href="/globals/site.html">
            Site
            
          </a>
        
      </div>
    </div>
    <div class="item">
      <div class="ui small  inverted header">Globals</div>
      <div class="menu">
        
          <a class="item" href="/globals/reset.html">
            Reset
            
          </a>
        
          <a class="item" href="/globals/site.html">
            Site
            
          </a>
        
      </div>
    </div>

    <div class="item">
      <div class="ui small  inverted header">Globals</div>
      <div class="menu">
        
          <a class="item" href="/globals/reset.html">
            Reset
            
          </a>
        
          <a class="item" href="/globals/site.html">
            Site
            
          </a>
        
      </div>
    </div>
    <div class="item">
      <div class="ui small  inverted header">Globals</div>
      <div class="menu">
        
          <a class="item" href="/globals/reset.html">
            Reset
            
          </a>
        
          <a class="item" href="/globals/site.html">
            Site
            
          </a>
        
      </div>
    </div>
    <div class="item">
      <div class="ui small  inverted header">Globals</div>
      <div class="menu">
        
          <a class="item" href="/globals/reset.html">
            Reset
            
          </a>
        
          <a class="item" href="/globals/site.html">
            Site
            
          </a>
        
      </div>
    </div>

  </div>

  <div class="ui black big launch right attached fixed button" ng-click="$root.dimmable = !$root.dimmable">
    <i class="content icon"></i>
    <span class="text">Menu</span>
  </div>

  <div class="ui fixed inverted main menu">
    <div class="container" ng-click="$root.dimmable = !$root.dimmable">
      <a class="launch item">
        <i class="content icon"></i>
        Menu
      </a>
      <div class="title item">
        <b>Semantic:</b> All UI
      </div>
    </div>

  </div>

  <div class="pusher" ng-class="{'dimmed': $root.dimmable}" ng-click="!$root.dimmable || ($root.dimmable=!$root.dimmable)">
    <div class="full height">
      <div class="segment ui" id="header">
        <div class="container">
          <div ng-if="$state.current.name!='app'" ui-view="header"></div>
          <div ng-if="$state.current.name=='app'">
            <h1>Semantic UI</h1>
            <div class="ui buttons">
              <div ng-click="$root.openLoginModal()" class="ui button">Login</div>
              <div class="or"></div>
              <div ng-click="$root.openSignupModal()"  class="ui positive button">Signup</div>
            </div>
          </div>
        </div>
      </div>

      <div class="segment" id="main">
        <div class="container">
          <div ng-if="$state.current.name!='app'" ui-view></div>
          <div ng-if="$state.current.name=='app'">
            <p>Content....</p>
            <a ui-sref="app.contacts">contacts</a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

<modal ng-model="$root.signupModal">
    <i class="close icon" ng-click="$root.signupModal = false"></i>
    <div class="header">
      signupModal
    </div>
    <div class="content">
      <div class="ui segment signup">
        <div class="ui page two column middle aligned relaxed fitted stackable grid">
          <div class="column">
            <div class="ui form segment">
              <div class="field">
                <label>Username</label>
                <div class="ui left icon input">
                  <input ng-model="data.username" required type="text" placeholder="Username">
                  <i class="user icon"></i>
                </div>
              </div>
              <div class="field">
                <label>Email</label>
                <div class="ui left icon input">
                  <input ng-model="data.email" required type="text" placeholder="Email">
                  <i class="mail icon"></i>
                </div>
              </div>
              <div class="field">
                <label>Password</label>
                <div class="ui left icon input">
                  <input ng-model="data.password" type="password">
                  <i class="unlock alternate icon"></i>
                </div>
              </div>
              <div class="field">
                <label>Confirm Password</label>
                <div class="ui left icon input">
                  <input ng-model="data.confirm_password" type="password">
                  <i class="lock icon"></i>
                </div>
              </div>
              <button class="ui blue submit button" ng-click="signup()">Sign Up</button>
            </div>
          </div>
          <div class="ui vertical divider">
            Or
          </div>
          <div class="center aligned column">
            <a ui-sref="app.login"  class="huge green ui labeled icon button">
              <i class="sign in icon"></i>
              Sign In
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="two fluid ui buttons">
        <div class="ui negative labeled icon button">
          <i class="remove icon"></i>
            No
        </div>
        <div class="ui positive right labeled icon button">
          Yes
          <i class="checkmark icon"></i>
        </div>
      </div>
    </div>
</modal>

<modal ng-model="$root.loginModal" ng-controller="authCtrl">
    <i class="close icon" ng-click="$root.loginModal = false"></i>
    <div class="header">
      loginModal
    </div>
    <div class="content">

        <div class="ui page two column middle aligned relaxed fitted stackable grid">
          <div class="column">
            <div class="ui form segment">
              <div class="field">
                <label>Username</label>
                <div class="ui left icon input">
                  <input ng-model="data.username" required type="text" placeholder="Username">
                  <i class="user icon"></i>
                </div>
              </div>
              <div class="field">
                <label>Email</label>
                <div class="ui left icon input">
                  <input ng-model="data.email" required type="text" placeholder="Email">
                  <i class="mail icon"></i>
                </div>
              </div>
              <div class="field">
                <label>Password</label>
                <div class="ui left icon input">
                  <input ng-model="data.password" type="password">
                  <i class="unlock alternate icon"></i>
                </div>
              </div>
              <div class="field">
                <label>Confirm Password</label>
                <div class="ui left icon input">
                  <input ng-model="data.confirm_password" type="password">
                  <i class="lock icon"></i>
                </div>
              </div>
              <button class="ui blue submit button" ng-click="signup()">Sign Up</button>
            </div>
          </div>
          <div class="ui vertical divider">
            Or
          </div>
          <div class="center aligned column">
            <a ui-sref="app.login"  class="huge green ui labeled icon button">
              <i class="sign in icon"></i>
              Sign In
            </a>
          </div>
        </div>

    </div>
    <div class="actions">
      <div class="two fluid ui buttons">
        <div class="ui negative labeled icon button">
          <i class="remove icon"></i>
            No
        </div>
        <div class="ui positive right labeled icon button">
          Yes
          <i class="checkmark icon"></i>
        </div>
      </div>
    </div>
</modal>